APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=tribal_square
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

NOCAPTCHA_SECRET=6LfBRgMTAAAAAOZ23NUEySBljfjJI_IssvOtaHHv
NOCAPTCHA_SITEKEY=6LfBRgMTAAAAAC2lpBzGCxRZmS2l6F_rzo6G7eR1

FACEBOOK_APP_ID=917573668293892
FACEBOOK_CLIENT_SECRET=ff959bb284c91eca5e709b27e0b66bc1

